#main{
  background-color: #DCDCDC; 
  margin: auto;
  padding: 20px; 
    display: block;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
h1{
  text-align: center; 
}
h3{
  text-align: center;
}
blockquote{
  font-style: italic; 
  text-align: left; 
}
#img-div {
  position: relative;
  text-align: center;
  background-color: white;
  margin: 0; 
  padding: 30px; 
}
img{
  width: 900px; 
  display: block;
  height: auto;
  margin: auto; 
  max-width: 100%
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
p{
  text-align: center;
}

